<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>kCodigoPoliciaViewControllerIdentifier</string>
		<key>text</key>
		<string>Código de Policia</string>
		<key>location</key>
		<string>kCodigoPoliciaStoryboardName</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>kFavoritosViewControllerIdentifier</string>
		<key>text</key>
		<string>Favoritos</string>
		<key>location</key>
		<string>kFavoritosStoryboardName</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>kMitosYVerdadesViewControllerIdentifier</string>
		<key>text</key>
		<string>Mitos y Verdades</string>
		<key>location</key>
		<string>kMitosYVerdadesStoryboardName</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>kTiposMultaViewControllerIdentifier</string>
		<key>text</key>
		<string>Tipos de Multa</string>
		<key>location</key>
		<string>kTiposMultaStoryboardName</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>kAcercaDeViewControllerIdentifier</string>
		<key>text</key>
		<string>Acerca de</string>
		<key>location</key>
		<string>kAcercaDeStoryboardName</string>
	</dict>
</array>
</plist>
